@model Comment

<form class="row" asp-action="AddComment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AnimalId" value="@Model.AnimalId" />
    <div class="col">
        <label asp-for="Content" class="control-label"></label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Post</button>
    </div>
</form>